[Unit]
Description=DSC IT-100 MQTT client
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/dsc-it100/dsc-it100.py -c /etc/dsc-it100.cfg -l /var/log/dsc-it100.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target